repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        args: [--force-exclude]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        args: [--force-exclude]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports, --follow-imports=silent]