version: '3.8'

services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    command: poetry run python -m {{ cookiecutter.package_name }}.cli.main
    environment:
      - PYTHONPATH=/app